.body {
    display: grid;
    height: 90vh;
    overflow: hidden;
    grid-template-columns: 1.75fr 1.25fr;
}

.search-bar-section {
    margin-top: 15rem;
    margin-right: 8rem;
}
.search-bar-section h3{
    margin-bottom: 1rem;
}

.highlighted-recipes h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    color: black;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.recipe-card {
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}
